button{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.892) !important;
}
#encabezado{
        margin-bottom: 80px;      
          
}
#tabla{
    margin-left: 10px;
    margin-right: 10px;
}
#titulo{
    margin-left: 100px;
    font-weight: bold;
}
#cuerpo{
    background-color: rgb(223, 223, 223);
}